$secondary-bg-color: #00539cff;
$primary-bg-color: #21447f;
$screen-bg-color: #36312e;
$screen-border-color: #171214;
$screen-font-color: #faf755;

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: $secondary-bg-color;
  background-size: cover;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: flex-start;

  .heading {
    height: fit-content;
    display: flex;
    background-color: $primary-bg-color;

    .logo {
      @keyframes flight {
        from {
          transform: rotate(0deg) translate(4.5rem);
        }
        to {
          transform: rotate(-360deg) translate(4.5rem);
        }
      }

      display: grid;
      justify-content: center;
      align-content: center;
      width: 11rem;
      height: 11rem;

      & * {
        grid-column: 1;
        grid-row: 1;
        color: whitesmoke;
      }
      .plane {
        position: relative;
        top: 3rem;
        left: 3rem;
        font-size: 2rem;
        animation-name: flight;
        animation-duration: 8s;
        animation-iteration-count: infinite;
      }
      .earth {
        font-size: 8rem;
      }
    }

    .flight-track {
      display: grid;
      grid-template-columns: 3rem 4rem 3.5rem auto;
      grid-template-rows: repeat(2, auto);
      gap: 0;

      & * {
        margin: 0;
      }

      .flight-heading {
        align-self: flex-end;
        grid-column: 1 / 5;
        border-bottom: 4px solid whitesmoke;
      }

      .track-heading {
        grid-row-start: 2;
        grid-column: 2/5;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .active-flights {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      .active-flights-heading {
        display: flex;

        span {
          font-size: 0.8rem;
          align-self: flex-end;
          padding-left: 4px;
          padding-bottom: 4px;
        }

        .flight-location {
          margin: auto;
        }
      }

      h2 {
        align-self: flex-start;
        font-weight: 100;
        margin: 0;
      }

      .flights {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        & > * {
          display: grid;
        }

        .flight-headings {
          grid-template-columns: repeat(4, 1fr);
          font-weight: 100;
          font-size: 0.8rem;
          .media {
            display: none;
          }
        }

        #flights-info {
          border: 0.5rem solid $screen-border-color;
          border-radius: 8px;
          margin: 0 -0.5rem;
          color: $screen-font-color;
          background-color: $screen-bg-color;
          text-transform: uppercase;
          font-family: monospace;

          & * {
            color: $screen-font-color;
            background-color: $screen-bg-color;
            text-transform: uppercase;
            font-family: monospace;
          }

          .single-flight {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 2px 0;

            .media {
              display: none;
            }

            button {
              font-weight: bold;
              text-align: start;
              border: none;
              padding: 0;
            }
          }

          .hidden {
            display: none;
          }
        }
      }
    }

    .flight-map {
      flex-grow: 1;
      padding: 0 1rem 1rem 1rem;
      height: 100%;
      background-image: url("../assets/img/world.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      #map {
        visibility: hidden;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  #container {
    .heading {
      .flight-track {
        flex-grow: 1;
        margin-right: 5rem;
      }
    }
    .content {
      font-size: 1.1rem;
      .active-flights {
        .flights {
          .flight-headings {
            grid-template-columns: repeat(5, 1fr);
            .m {
              grid-column-start: 5;
              display: contents;
            }
          }
          #flights-info {
            .single-flight {
              font-size: 0.9rem;
              grid-template-columns: repeat(5, 1fr);
              .m {
                grid-column-start: 5;
                display: contents;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #container {
    .content {
      font-size: 1.2rem;
      .active-flights {
        .flights {
          .flight-headings {
            font-size: 0.9rem;
            grid-template-columns: repeat(6, 1fr);
            .l {
              display: contents;
              grid-column-start: 6;
            }
          }
          #flights-info {
            .single-flight {
              font-size: 1rem;
              grid-template-columns: repeat(6, 1fr);
              .l {
                display: contents;
                grid-column-start: 8;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #container {
    .content {
      font-size: 1.2rem;
      .active-flights {
        .flights {
          .flight-headings {
            font-size: 0.9rem;
            grid-template-columns: repeat(7, 1fr);
            .f {
              display: contents;
            }
          }
          #flights-info {
            .single-flight {
              font-size: 1rem;
              grid-template-columns: repeat(7, 1fr);
              .f {
                display: contents;
              }
            }
          }
        }
      }
    }
  }
}
